#blocked {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1021;
    background-color: white;
    opacity: 1;
}

i.bi-x-square-fill {
    font-size:1.2rem;
    color: #FF605C;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}


.live.map .neverStarted .status {
    background-color: #e2e2e2;
}

.live.map .triggered .status {
    background-color: #503f3f;
}



.live.map .started .status {
    background-color: #a6d75b;
	
}

.live.map .queued .status {
    background-color: #22a7f0 !important;
}

.live.map .abortInitiated .status {
    background-color: #df8879 !important;
}

.live.map .aborting .status {
    background-color: #df8879 !important;
}

.live.map .aborted .status {
    background-color: #df8879 !important;
}

.live.map .success .status {
    background-color: #27be19 !important;
}

.live.map .failed .status {
   background-color: #991f17 !important;
}

.live.map .skipped .status {
    background-color: #b3bfd1 !important;
 }

 .live.map .retry .status {
    background-color: #48b5c4 !important;
 }

 .live.map .error .status {
    background-color: #b04238 !important;
 }

 .live.map .reset .status {
    background-color: #0020ff !important;
 }




.live.map .warn .queue {
   color: #f77 !important;
}


#tooltip_card {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

#tooltip_card  h3{
    font-size:150%;
    font-weight: bold;
}
 
#tooltip_card .container {
    padding: 2px 16px;
  }